.product-discriptionl {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: absolute;
}
.pd-container {
  padding: 2.5rem;
}

.product-desc-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // padding: 40px;
  line-height: normal;

  .product-desc-items {
    width: 40%;
    height: 40%;
    position: fixed;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    .price {
      padding-top: 10px;
      // padding-bottom: 10px;
      vertical-align: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 2rem;
      color: black;
      .discounted-price {
        font-size: 2rem;
        color: black;
        margin-right: 15px;
        font-weight: bolder;
      }
      .real-price {
        font-size: 2rem;
        color: rgba($color: #000000, $alpha: 0.5);
        text-decoration: line-through;
      }
      .discount {
        margin-left: 10px;
        text-decoration: none;
        font-size: 1.4rem;
        color: rgba($color: royalBlue, $alpha: 0.8);
      }
    }

    .title {
      font-weight: 500;
      font-size: 2.5rem;
    }
    .description {
      padding-top: 10px;
      font-family: Cambria;
      font-size: 1.6rem;
      font-weight: normal;
      line-height: 1.3;
    }
    .size-quantity {
      display: flex;
      flex-direction: row;
      .size {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        padding-left: 40px;
        // padding-bottom: 10px;
        position: relative;
        margin-right: 40px;
        p {
          position: absolute;
          top: 15px;
          left: 0;
          font-weight: bold;
        }
        select {
          height: 40px;
          width: 50px;
          margin-left: 15px;
          border: 1px solid rgba($color: royalBlue, $alpha: 0.6);
          border-radius: 4px;
        }
      }
      .quantity {
        display: flex;
        flex-direction: row;
        padding-left: 80px;
        padding-top: 20px;
        padding-bottom: 10px;
        position: relative;
        p {
          position: absolute;
          top: 15px;
          left: 0;
          font-weight: bold;
        }
        input[type="number"] {
          height: 40px;
          width: 50px;
          margin-left: 15px;
          border: 1px solid rgba($color: royalBlue, $alpha: 0.6);
          border-radius: 4px;
        }
      }
    }
    .hr-line{
      border: .5px ;
      border-style: groove;
      width: 600px;
      
    }
    .buttons{
      display: flex;
      flex-direction: row;
      // justify-content: flex-end;
      align-items: center;
      padding-top: 15px;
      .cart-button {
        margin-left: 20px;
        height: 50px;
        font-size: 1.6rem auto;
        background-color: white;
        color: #24a0ed;
        border-radius: 5px;
        font-weight: bold;
        width: 20%;
        border: 3px solid #24a0ed;
        cursor: pointer;
        &:hover {
          background-color: #24a0ed;
          color: white;
        }
      }
  
      .wish-button {
        margin-left: 50px;
        height: 50px;
        font-size: 1.6rem auto;
        background-color: white;
        color: #24a0ed;
        border-radius: 5px;
        font-weight: bold;
        width: 20%;
        border: 3px solid #24a0ed;
        cursor: pointer;
        &:hover {
          background-color: #24a0ed;
          color: white;
        }
      }
    }
  }
}

product-desc-card {
  max-width: 50%;
  max-width: 100%;
}
