.signin {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 0 auto;
  height: 100%;
  .modal-title {
    font-size: 3rem;
    font-weight: bold;
  }
  .using {
    font-size: 2.4rem;
    opacity: 0.8;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 25%;
      height: 1px;
      content: "\a0";
      background-color: rgba($color: black, $alpha: 0.8);
    }

    &::before {
      margin-left: -28%;
      text-align: right;
    }

    &::after {
      margin-left: 2%;
    }
  }
  .or {
    font-size: 2.4rem;
    opacity: 0.8;
  }

  .google-sigin {
    display: flex;
    justify-content: center;
    cursor: pointer;
    .google-button {
      width: 30rem;
      height: 6.5rem;
      font-size: 3.4rem;
      display: flex;
      flex-direction: row;
      color: rgba($color: red, $alpha: 0.6);
      justify-content: space-evenly;
      align-items: center;
      font-weight: bold;
      background-color: rgba($color: rosybrown, $alpha: 0.2);
      border: 5px solid rgba($color: red, $alpha: 0.6);

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 10px 0px rgba($color: red, $alpha: 0.6);
      }
    }
  }

  .fb-sigin {
    display: flex;
    justify-content: center;
    cursor: pointer;
    .fb-button {
      width: 30rem;
      height: 6.5rem;
      font-size: 3.4rem;
      display: flex;
      flex-direction: row;
      color: #4267b2;
      justify-content: space-evenly;
      align-items: center;
      font-weight: bold;
      background-color: rgba($color: #4267b2, $alpha: 0.2);
      border: 5px solid #4267b2;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 10px 0px rgba($color: #4267b2, $alpha: 0.6);
      }
    }
  }
}
