.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.1);
}

.wrap {
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .navigation-links {
    margin-right: 10%;
    font-weight: 600;
    a {
      color: black;
    }
  }

  .logo {
    justify-content: flex-start;
    width: 13rem;
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);

    .logo-link {
      display: flex;
      flex-direction: row;
    }

    img {
      display: block;
      width: 175%;
      margin: 0;
      opacity: 1;
      height: 6.5rem;
    }
  }
  .search-input {
    border: 1px solid rgba($color: #000000, $alpha: 0.25);
    width: 400px;
    position: relative;
    top: 0%;
    border-radius: 5px;
    margin-right: 50px;

    span {
      position: absolute;
      top: 20%;
      font-size: 25px;
      margin-left: 10px;
    }
    input[type="text"] {
      height: 40px;
      margin-left: 40px;
      border: none;
      width: 300px;
      font-size: 1.8rem;
    }
    input[type="text"]:focus {
      border: none;
      outline: none;
    }
  }
  .search-input:hover {
    box-shadow: 0 0px 8px 0 rgba($color: #000000, $alpha: 0.3);
  }
  .cart-logo {
    font-size: 25px;
    padding-right: 40px;
    padding-left: 50px;
  }
  .user-logo {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    position: relative;

    .user-logout-options {
      display: none;
      position: absolute;
      text-align: left;

      left: -100%;
      background-color: white;
      min-width: 200px;
      min-height: 250px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);

      // padding: 10px 5px;
      z-index: 10;
      border-radius: 7px;

      .display-name {
        font-size: 15px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: black;
        padding-left: 10px;
        padding-top: 20px;
        text-align: left;
        // margin-top: 20px;
      }

      .log-out-button {
        padding-left: 40px;
        button {
          margin-bottom: 10px;
          background-color: lightblue;
          border-radius: 5px;
          color: white;
          height: 40px;
          width: 100px;
        }
      }
      .order-history {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        position: relative;
        font-size: medium;
        width: 100%;
        .order-history-content {
          color: black;
          padding: 5px 10px 10px 10px;
          text-decoration: none;
          display: block;

          a {
            color: black;
          }
        }
      }
    }
  }
  // .user-logo:hover .user-logout-options {
  //   display: block;
  //   color:red;
  // }

  .user-logo:hover .user-logout-options {
    display: block;
  }

  .log-out-button button:hover {
    background-color: lightcoral;
    box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: 0.3);
  }

  .order-history .order-history-content a:hover {
    font-weight: bold;
    font-size: medium;
  }

  // .order-history .order-history-content:hover{
  //   color:yellowgreen;
  // }

  .glob-logo {
    font-size: 25px;
    padding-right: 40px;
  }
  .user-signin {
    // padding-right: 40px;
    // padding-left: 40px;

    span {
      color: var(--header-font-color);
    }
  }
}

// input[type=text]{
//     width: 300px;
//     height: 35px;
//     border-radius: 5px;
//     padding-right: 40px;
//     cursor: pointer;
// }
// input[type=text]:hover{
//     width: 300px;
//     height: 35px;
//     border-radius: 5px;
// }
